<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-info">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <strong>Home</strong>
            </a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </section>
</body>
</html>